In [ ]:
# SQLite - Sistema de gestión de base de datos relacionales
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

conexion.close()

In [ ]:
# SQLite - Crear una base de datos
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

#Objeto para ejecutar sentencias SQL en la base de datos
cursor = conexion.cursor()
#Método para ejecutar sentencias
#En caso exista la tabla creada
cursor.execute("DROP TABLE PERSONAS")
#Creacion de tabla PERSONAS
cursor.execute("CREATE TABLE PERSONAS (nombre TEXT, apellido1 TEXT, apellido2 TEXT, edad INTEGER)")
#Ejecucion de Commit
conexion.commit()

conexion.close()

In [ ]:
# SQLite - Insertar datos en nuestra tabla
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

cursor = conexion.cursor()
#Inserción de Valores en la tabla PERSONAS
cursor.execute("INSERT INTO PERSONAS VALUES ('Antonio', 'Perez', 'Gomez', 35)")
conexion.commit()

conexion.close()

In [ ]:
# SQLite - Insertar datos en nuestra tabla
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

cursor = conexion.cursor()
#Se genera una lista de objetos (tuplas)
lista_personas = [('Pedro','Rodriguez','Perez',26),('Maria','Lopez','Gomez',45),('Luis','Gonzales','Perez',46)]
#Se invoca a la funcion executemany para la insercion de las tuplas en la base de datos
cursor.executemany("INSERT INTO PERSONAS VALUES (?,?,?,?)",lista_personas)
conexion.commit()

conexion.close()

In [ ]:
# SQLite - Consultar datos en nuestra tabla
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

cursor = conexion.cursor()
#Se realiza un select a la tabla PERSONAS
cursor.execute("SELECT * FROM PERSONAS")
#Con fetchall recogemos todas las filas de la tabla PERSONAS hacia una lista
personas = cursor.fetchall()

#Se recorre la lista para imprimir todos los objetos (tuplas)
for persona in personas:
    #print(type(persona)) #El tipo es tuplas
    print(persona)

conexion.close()

In [ ]:
# SQLite - Consultar datos en nuestra tabla
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

cursor = conexion.cursor()
#Se realiza un select a la tabla PERSONAS con filtro
cursor.execute("SELECT * FROM PERSONAS WHERE edad > 40")
personas_seleccionadas = cursor.fetchall()
for persona in personas_seleccionadas:
    print(persona)

conexion.close()

In [ ]:
# SQLite - Consultar datos y ordenarlos por alguna columna
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

cursor = conexion.cursor()
#Se realiza un select a la tabla PERSONAS ordenadas por edad
cursor.execute("SELECT * FROM PERSONAS ORDER BY edad")
lista_personas_ordenada = cursor.fetchall()
for persona in lista_personas_ordenada:
    print(persona)

conexion.close()

In [ ]:
# SQLite - Borrar datos de tabla
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

cursor = conexion.cursor()
#Se borran los registros con nombre = 'Luis'
cursor.execute("DELETE FROM PERSONAS WHERE nombre = 'Luis'")
conexion.commit()

conexion.close()

In [ ]:
# SQLite - Actualizar datos en tabla
import sqlite3
conexion = sqlite3.connect("basededatos1.db")

cursor = conexion.cursor()
#Se actualiza la edad para los registros con nombre = 'Antonio'
cursor.execute("UPDATE PERSONAS SET edad = 30 WHERE nombre = 'Antonio'")
conexion.commit()

conexion.close()